<!DOCTYPE html>
<html>
<head>
    <title>Add Student</title>
   <link rel="stylesheet" href="/add.css">
</head>
<body>

<h1>Add Student</h1>

<form action="/addStudent" method="POST">

    <input type="text" name="name" placeholder="Student Name" required>

    <input type="text" name="rollNo" placeholder="Roll Number" required>

    <input type="text" name="course" placeholder="Course" required>

    
    <input type="text" name="projectName" placeholder="Project Name" required>

    <input type="text" name="completionTime" placeholder="Completion Time (e.g. 2 weeks)" required>

    <button type="submit">Save Student</button>

</form>

<br>
<a href="/">Back Home</a>

</body>
</html>